.sidebar {
    background-color:#e6e6e6;
    position: fixed;
    top: 45px;
    left: 0;
    width: 180px;
    height: 100%;
    padding: 20px ;

    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-left: 50px;*/
    /*font-size: 90px;*/
    /*height: 60px;*/

    /*color: black;*/
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/
    /*padding-top: 20px;*/


}
li {
    list-style: none;
    position: relative;
    padding-top: 40px;
}
.section {
    font-weight: 150;
    font-size: 20px;
    font-color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
    position: fixed;
    top: 60px;
    left: 180px;
    width: calc(100vw - 180px);
}